

//ͼ��
.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icon4.png");
}
//��ʾ
.show{
  display: block!important;
}
//����״̬
.active{
  background-color: #00AACC!important;
}
//����������
.retract{
  width: 50px!important;
  .slide{
    left: 50px;
    background-position: -100px -220px;
  }
  .messageFirst{
    display: none;
  }
  .icon-down{
    display: none;
  }
  .secondMessage{
    display: none;
  }
  .second-icon{
    left: -5px;
  }
}





